{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h3> {{ ticker }} </h3>
<label id="current-price"></label>
<div class="parent">
    <div class="chart-child">
        <canvas id="myChart"></canvas>
    </div>
    <div class="chat-child">
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <img src="/static/viewer_logo.png">
        <label id="viewer-count"></label>
    </div>
</div>
<script>
    var ticker = {{ ticker | tojson }};
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: ticker ,
            data: [],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://fincha.tv/chat');
        socket.on('connect', function() {
            socket.emit('joined', {ticker: ticker});
        });
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function(data) {
            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('price',  function(data){
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

            if( myChart.data.labels.length >= 100){
                myChart.data.labels.shift();
                myChart.data.datasets.forEach((dataset) => {
                dataset.data.shift();
                });
            }
            myChart.data.labels.push(time);
            myChart.data.datasets.forEach((dataset) => {
            dataset.data.push(data.price);
            });
            myChart.update();
            document.getElementById('current-price').innerHTML = data.price;
            document.getElementById('viewer-count').innerHTML = data.count;
        })
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text, ticker: ticker});
            }
        });
    });
    setInterval(function(){ 
	socket.emit('price-request', {ticker: ticker});
    }, 1000);
    window.onbeforeunload = function () {
        socket.emit('left', {});
    }
</script>
{% endblock %}
